<table class="table table-hover">
  <thead>
    <tr>
      <th>File Name</th>
      <th>Size</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>babomba</td>
      <td>babomba</td>
      <td><button>Accept</button></td>
      <td><button>Reject</button></td>
    </tr>
    <tr>
      <td>babomba</td>
      <td>babomba</td>
      <td><button>Accept</button></td>
      <td><button>Reject</button></td>
    </tr>
    <tr>
      <td>babomba</td>
      <td>babomba</td>
      <td><button>Accept</button></td>
      <td><button>Reject</button></td>
    </tr>
  </tbody>
</table>
<table class="table table-hover">
  <thead>
    <tr>
      <th>File</th>
      <th>Size</th>
      <th>Test</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>babomba</td>
      <td>babomba</td>
      <td>babomba</td>
    </tr>
    <tr>
      <td>babomba</td>
      <td>babomba</td>
      <td>babomba</td>
    </tr>
    <tr>
      <td>babomba</td>
      <td>babomba</td>
      <td>babomba</td>
    </tr>
  </tbody>
</table>